accountant agent.json
{
  "name": "accountant agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2496,
        128
      ],
      "id": "d0accd08-6922-46a3-b2a9-2eeac86d0d6e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOhmHcK4UMFWaqww",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1328,
        544
      ],
      "id": "58e14597-c9c8-4871-85f3-e62842170014",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bvDHKvcpG7gVUGiC",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1552,
        48
      ],
      "id": "601b0072-33e4-468a-a6af-7f93341a3a86",
      "name": "Extract text"
    },
    {
      "parameters": {
        "inputText": "=Extracted Document: {{ $json.extractedText || ' ' }}\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}\nfrom: {{ $('Gmail Trigger').item.json.from.text }}",
        "categories": {
          "categories": [
            {
              "category": "Transaction Email",
              "description": "This is an email containing transaction details"
            },
            {
              "category": "Other Email",
              "description": "This is an email that doesn't contain transaction details"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1264,
        336
      ],
      "id": "5d00e380-ac2d-48e9-932b-0872664cb8e9",
      "name": "Check for Transaction Email"
    },
    {
      "parameters": {
        "inputText": "=Extracted document: {{ $('Extract text').item.json.extractedText }}\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}\nfrom: {{ $('Gmail Trigger').item.json.from.text }}\nChart of Accounts: {{ $json.data.toJsonString() }}",
        "categories": {
          "categories": [
            {
              "category": "Expense",
              "description": "This is email containing an expense"
            },
            {
              "category": "Income",
              "description": "This is email containing an income"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=### CONTEXT\nYou are a highly accurate text classification engine for an accounting system. Your sole purpose is to analyze a piece of text and determine if it represents money coming IN to the business ('Income') or money going OUT of the business ('Expense').\n\n### RULES\n1.  Analyze the text for keywords, sender, and context.\n2.  \"Income\" keywords include: \"Payment Received\", \"Sale Confirmation\", \"has paid you\", \"deposit\".\n3.  \"Expense\" keywords include: \"Invoice from\", \"Your receipt\", \"Your order\", \"bill\", \"subscription renewal\".\n4.  You MUST respond with a single word: `Income` or `Expense`. Do not add any other text.\n5. My company is Apex Digital Solutions so any invoice from this company is sent to a client and vice versa is expense\n\n### EXAMPLES\n\nText: \"Your invoice from Google for Google Workspace is ready.\"\nClassification: Expense\n\nText: \"Stripe: Payment of £150.00 from customer@email.com succeeded.\"\nClassification: Income\n\nText: \"Receipt for your purchase from Adobe Inc.\"\nClassification: Expense\n\nText: \"Good news! Your invoice #1024 has been paid.\"\nClassification: Income\n\nText: \"CloudScribe AI - Your subscription is scheduled for renewal.\"\nClassification: Expense"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -496,
        240
      ],
      "id": "c9af6ed1-1a5a-4b91-97e2-3d87f7db6517",
      "name": "Check if it’s revenue or expense"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        448
      ],
      "id": "20c42260-aabf-44eb-b8bd-601d9d599ba6",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "bvDHKvcpG7gVUGiC",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0",
          "mode": "list",
          "cachedResultName": "n8n Accounting Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "888533224",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        240
      ],
      "id": "7caf10f5-49b5-48c8-8fcf-ae1846c9f95b",
      "name": "Read Chart of Accounts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -704,
        240
      ],
      "id": "87f19321-c272-4d6b-a127-489d592d94e2",
      "name": "Aggregate Categories"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "5901a0f4-38ae-41d1-9c24-62579f38c8e5",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "bvDHKvcpG7gVUGiC",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"TransactionID\": \"California\",\n  \"Date\": \"Use this format DD/MM/YYYY\",\n  \"Description\": \"This is the transaction type\",\n  \"Amount\": \"California\",\n  \"Comment\": \"California\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        176
      ],
      "id": "c40688fa-708f-41f3-bc66-c7ff5fee71a2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chart of accounts:  {{ JSON.stringify($('Aggregate Categories').item.json.data) }}\nExtracted document: {{ $('Extract text').item.json.extractedText }}\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}\nfrom: {{ $('Gmail Trigger').item.json.from.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful expense assistant in charge of extracting key information from expense transactions. \n\n# Output in this format\n{\n\t\"TransactionID\": \"California\",\n  \"Date\": \"Use this format DD/MM/YYYY\",\n  \"Description\": \"This is the transaction type\",\n  \"Amount\": \"California\",\n  \"Comment\": \"California\"\n\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "946772e3-89b5-40e6-9528-ddba5d5a496e",
      "name": "Expense AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0",
          "mode": "list",
          "cachedResultName": "n8n Accounting Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TransactionID": "={{ $('Expense AI Agent').item.json.output.TransactionID }}",
            "Date": "={{ $('Expense AI Agent').item.json.output.Date }}",
            "Description": "={{ $json.output.Comment }}",
            "Type": "Expense",
            "Amount ": "=-{{ $('Expense AI Agent').item.json.output.Amount }}",
            "Invoice Link": "={{ $('Upload file').item.json.webViewLink }}",
            "Category": "={{ $json.output.Description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Link",
              "displayName": "Invoice Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount ",
              "displayName": "Amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        0
      ],
      "id": "8f5615e8-812d-4710-8fa7-70dac155747c",
      "name": "Add Expense to Transactions Sheet"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "attachment_0",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JX6YDlP4xc667Kk0teGkXuR6fmWoKdWM",
          "mode": "list",
          "cachedResultName": "n8n demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JX6YDlP4xc667Kk0teGkXuR6fmWoKdWM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1968,
        48
      ],
      "id": "f66eea47-461b-492d-830c-d41005d68a3e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MzMUwfEqZEF0Uy7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1760,
        48
      ],
      "id": "0bf2ab34-08b8-4f26-a57c-6a2d8bcfa1cc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MzMUwfEqZEF0Uy7B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        560
      ],
      "id": "498e5beb-b7b3-4211-9f55-a0c40377373a",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "bvDHKvcpG7gVUGiC",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"TransactionID\": \"California\",\n  \"Date\": \"Use this format DD/MM/YYYY\",\n  \"Description\": \"This is the transaction type\",\n  \"Amount\": \"California\",\n  \"Comment\": \"California\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        560
      ],
      "id": "c89f7f78-690e-4a40-b0b6-1f28e5aa1a11",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chart of accounts:  {{ JSON.stringify($('Aggregate Categories').item.json.data) }}\nExtracted document: {{ $('Extract text').item.json.extractedText }}\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}\nfrom: {{ $('Gmail Trigger').item.json.from.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful expense assistant in charge of extracting key information from income transactions. \n\n# Output in this format\n{\n\t\"TransactionID\": \"California\",\n  \"Date\": \"Use this format DD/MM/YYYY\",\n  \"Description\": \"This is the transaction type\",\n  \"Amount\": \"California\",\n  \"Comment\": \"California\"\n\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        384
      ],
      "id": "25d36f59-9b52-48f9-bda2-468d6aa4c99b",
      "name": "Income AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0",
          "mode": "list",
          "cachedResultName": "n8n Accounting Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blMSrOOz3fJBfP-YfsBnSuC0i60eEBXgoyEZ-URC0K0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TransactionID": "={{ $('Income AI Agent').item.json.output.TransactionID }}",
            "Date": "={{ $('Income AI Agent').item.json.output.Date }}",
            "Description": "={{ $json.output.Comment }}",
            "Type": "Income",
            "Amount ": "={{ $('Income AI Agent').item.json.output.Amount }}",
            "Invoice Link": "={{ $('Upload file').item.json.webViewLink }}",
            "Category": "={{ $('Income AI Agent').item.json.output.Description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Link",
              "displayName": "Invoice Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount ",
              "displayName": "Amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        384
      ],
      "id": "7dada9e6-ecaf-4ee4-8f84-e6497195cbe6",
      "name": "Add Income to Transactions Sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b17719ba-b4dc-46fd-ae1c-7f25dc178263",
              "leftValue": "={{ $binary && Object.keys($binary).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2224,
        336
      ],
      "id": "6899d58f-f8ac-4bd1-8f13-7eac6eb65395",
      "name": "If Email Contains Document"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2464,
        336
      ],
      "id": "32d04418-8d2f-4fed-8110-0461fc06427e",
      "name": "When chat message received",
      "webhookId": "0842b3b7-d9d6-471e-9f08-b748e5a27728"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check for Transaction Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Check for Transaction Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Transaction Email": {
      "main": [
        [
          {
            "node": "Read Chart of Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if it’s revenue or expense": {
      "main": [
        [
          {
            "node": "Expense AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Income AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Check if it’s revenue or expense",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Chart of Accounts": {
      "main": [
        [
          {
            "node": "Aggregate Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Categories": {
      "main": [
        [
          {
            "node": "Check if it’s revenue or expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Expense AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Expense AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Expense AI Agent": {
      "main": [
        [
          {
            "node": "Add Expense to Transactions Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Income AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Income AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Income AI Agent": {
      "main": [
        [
          {
            "node": "Add Income to Transactions Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Contains Document": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Transaction Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If Email Contains Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e618d5b-8302-4cfc-9549-249dabb3e406",
  "meta": {
    "instanceId": "6b9778435c9617f84a868e79f9c6c308d7f539ce67111fcfdec43f437209524e"
  },
  "id": "GSPl2OUYnBRb75Cu",
  "tags": []
}